*,html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: yellow;
  
}

.container{
    height: 100vh;
    width:100%;
    display: flex;
   flex-direction: column;
   
}

.subcontainer{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    font-weight: 800;
    font-size: 3rem;
}


.btn{
    background-color: green;
    height:3rem;
    width:8rem;
    border-radius: 2rem;
    box-shadow: 0px 7px 2px 0px;
    color:white;
    font-size: 1.5rem;
    transition: .4s linear;

}

.btn:hover{
    background: tomato;
    color: black;
    transition: .4s linear;
}